{% extends 'core/base.html'%}
{% load static %}
{% load widget_tweaks %}

{% block title %} Esqueci a senha {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/password_reset.css' %}">

<div class="container">
    <div class="row card-row">
        <div class="col l6 offset-l3">
            <div class="card white card-login">
                <div class="card-content">
                    <h1 class="center card-title">
                        As instruções para resetar a senha serão enviadas para 
                        o e-mail digitado abaixo!
                    </h1>
                    <div class="row">
                        <form class="col l12" method="POST"  action="">
						  {% csrf_token %}	
                          <div class="row">
                            <div class="row">
								<div class="input-field col l12">
									<i class="material-icons prefix">email</i>
									{% render_field form.email class="validate" type="text" %}
									<label for="icon-email" class="label-user">E-mail</label>
									<span class="helper-text">{{form.errors.email}}</span> 
								</div>
							</div> 
                          </div>
							<div class="center">
								<div class="row">
									<button type="submit" class="col s10 offset-s1 
										center waves-effect waves-light 
										btn-large btn-login">Enviar
									</button>
								</div>
							</div>
						</form>	
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}