{% extends 'core/base.html'%}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'assets/css/password_reset_sent.css' %}">

<div class="container">
    <div class="row card-row">
        <div class="col l6 offset-l3">
            <div class="card white card-login">
                <div class="card-content">
                    <h1 class="center card-title">
                        Instruções enviadas! Caso não tenha recebido o e-mail, 
                        verifique a caixa de Spam ou se o e-mail foi digitado 
                        corretamente no momento do envio.
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}