{% extends 'core/base.html'%}
{% load static %}

{% block title %} Senha alterada com sucesso {% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'assets/css/reset_complete.css' %}">

<div class="container">
    <div class="row card-row">
        <div class="col l6 offset-l3">
            <div class="card white card-login">
                <div class="card-content">
                    <h1 class="center title">
                        Sua senha foi alterada com sucesso!
                    </h1>
                    <div class="center">
                        <div class="row">
                            <a href="{% url 'loginUser' %}" class="col s10 offset-s1 
                                center waves-effect waves-light 
                                btn-large btn-login">Fazer login
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}